@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using QuizApp.Client.Shared.Models

@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome To the Quiz Game!</h1>

        <div class="container">
            <div class="d-flex flex-row flex-wrap flex-grow-1 gap-4 mg-0">
            @foreach (var quiz in quizModels)
            {
                <div class="card flex-row w-45 p-0 m-0">

                    @if (quiz.Media != null && !string.IsNullOrEmpty(quiz.Media.Path) &&
                    !string.IsNullOrEmpty(quiz.Media.ContentType))
                    {
                        @if (quiz.Media.ContentType.Contains("image"))
                        {
                            <img src="@quiz.Media.Path" class="w-50" style="max-width:inherit;" />
                        }
                        @if (quiz.Media.ContentType.Contains("video"))
                        {
                            <VidazorVideo controls="false" class="img-fluid w-50" style="max-width:inherit;"
                                type="@quiz.Media.ContentType">
                                <source src="@quiz.Media.Path" class="w-100">
                            </VidazorVideo>
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@quiz.Title</h5>
                        <p class="card-text">Date Created: @quiz.DateCreated.ToShortDateString()</p>
                        <p class="card-text">Max Score: @quiz.MaxScore</p>
                        <p class="card-text">Games Played: @quiz.GamesPlayed</p>
                        <!-- Add more details as needed -->
                        <a href="/quiz/@quiz.Id" class="btn btn-primary">Take Quiz</a>
                    </div>
                </div>
            }
            </div>
        </div
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class=" d-flex flex-row flex-wrap align-items-center">
                <div class="col w-100 pt-4">
                    <h1><strong>Welcome to Quiz App!</strong></h1>

                    <p>
                        Quiz App is a comprehensive Blazor application designed for interactive quiz management.<br>
                        Users can effortlessly create, participate in, and share quizzes via unique links. <br>
                        With a user-friendly interface, the platform allows for seamless navigation.
                    </p>

                    <h3><strong>Key Features:</strong></h3>

                    <p>
                        <strong>User Registration and Login:</strong><br>
                        Create your Quiz App account or log in to keep track of your progress and save your scores.
                    </p>

                    <h3><strong>Quiz Management</strong></h3>

                    <p>
                        <strong>Quiz Creation:</strong><br>
                        Effortlessly create quizzes tailored to your preferences.
                    </p>

                    <p>
                        <strong>Quiz Participation and Sharing:</strong><br>
                        Participate in quizzes and share them with others via unique links.
                    </p>

                    <p>
                        <strong>Quiz Tracking:</strong><br>
                        View a list of quizzes you've created and see who has answered them, along with their respective scores.
                    </p>

                    <p>
                        <strong>Quiz Participation:</strong><br>
                        Answer quizzes that you've been linked to and track your performance.
                    </p>
                </div>
                <div class="d-flex flex-col">
                    <div class="container d-flex justify-content-center">
                        <div class="d-flex flex-row flex-wrap flex-grow-1 gap-4 mg-0">
                            <QuizCard quizTemplate=@true />
                            <QuizCard quizTemplate=@true />
                            <QuizCard quizTemplate=@true />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<QuizModel> quizModels = new List<QuizModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("api/quiz/getallquizzes");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            quizModels = JsonConvert.DeserializeObject<List<QuizModel>>(content);
        }
        else
        {
            // Handle error
        }
    }
}
